<h1>Add User</h1>

<form id="add-user" action="/admin/add-user" method="post">
	Name: <input type="text" name="name" id="name">
	Email: <input type="email" name="email" id="email" required>
	Password: <input type="password" name="password" id="password" required>
	Confirm Password: <input type="password" name="confirmPassword" id="confirm-password" required><br>

	<button type="submit">Add User</button>
</form>