<div>
	<form action="/admin/blog-images" method="post" enctype="multipart/form-data">
		<div>
			<h2>Upload An Image</h2>
			<input type="file" name="image" id="image" accept="image/*">
		</div>

		<div>
			<button type="submit">Upload</button>
		</div>
	</form>
</div>

<h2>Available Images</h2>

<div class="flexbox">
	{{#each images}}
		<div class="image-box">
			<img src="/images/uploads/{{this}}" alt="An uploaded image.">
		
			<div>
				/images/uploads/{{this}}
			</div>
		
			<div>
				<button type="button" onclick="showModal(this.value)"
					value="{{this}}">Delete</button>
			</div>
		</div>
	{{/each}}
</div>

<div id="modal">
	<div id="modal-container">
		<h3>Are you sure you want to delete this picture?</h3>

		<div id="filename" style="font-style: italic; margin: 1rem 0rem 2rem 0rem;">

		</div>

		<button type="button" id="modal-delete">Delete</button>
		<button type="button" onclick="closeModal()">Cancel</button>
	</div>
</div>

<script>
	function showModal(file) {
		document.getElementById('filename').innerHTML = file;
		document.getElementById('modal-delete').setAttribute('onclick', `location.href="/admin/blog-images/delete/${file}"`);
		document.getElementById('modal').style.display = 'flex';
	}

	function closeModal() {
		document.getElementById('modal').style.display = 'none';
	}
</script>