<h1>Edit Post</h1>

<form action="/admin/edit/{{post._id}}" method="post">
	{{> prt-post-form-fields }}

	{{!-- <pre>
		{{{post.article}}}
	</pre> --}}

	<div>
		<input type="checkbox" name="isPublished" {{#if post.isPublished}}checked{{/if}}> Is Published
	</div>

	<div class="button-row">
		<button type="submit" name="submit" value="save">Save</button>
		<button type="button" onclick="showModal()">Delete</button>
		<button type="submit" name="submit" value="preview">Preview</button>
	</div>

	<div id="delete-confirmation" class="modal">
		<div class="modal-content">
			<h3>Are you sure you want to delete this post?</h3>
	
			<button type="submit" name="submit" value="delete" id="modal-delete">Delete</button>
			<button type="button" onclick="closeModal()">Cancel</button>
		</div>
	</div>
</form>

<script>
	function showModal() {
		document.getElementById('delete-confirmation').style.display = 'flex';
	}

	function closeModal() {
		document.getElementById('delete-confirmation').style.display = 'none';
	}
</script>