<h1>Edit Post</h1>

<form action="/admin/edit/{{post.slug}}" method="post">
	{{> prt-post-form-fields }}

	<div>
		<input type="checkbox" name="isPublished" {{#if post.isPublished}}checked{{/if}}> Is Published
	</div>

	<div id="button-row">
		<button type="submit" name="save" value="save">Save</button>
		{{!-- {{#if post.isPublished}}
		<button type="submit" name="save" value="unpublish">Save & Unpublish</button>
		{{else}}
		<button type="submit" name="save" value="publish">Save & Publish</button>
		{{/if}} --}}
		<button type="button" value="preview">Preview</button>
	</div>
</form>