<h1>New Post</h1>

<form action="/admin/new" method="post">
	{{> post-form-fields }}

	<div>
		<button type="submit" name="submit" value="publish">Publish</button>
		<button type="submit" name="submit" value="draft">Save As Draft</button>
		<button type="submit" formaction="/blog/preview" value="preview">Preview</button>
	</div>
</form>