<!--
	 _    _      _ _       _ 
	| |  | |    | | |     | |
	| |__| | ___| | | ___ | |
	|  __  |/ _ \ | |/ _ \| |
	| |  | |  __/ | | (_) |_|
	|_|  |_|\___|_|_|\___/(_)

	And welcome to my code!

	I wrote everything myself except for a few resources where credited.
	Feel free to take a look around!
-->
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Web development portfolio and blog for Keegan Woodward.">
	<title>{{title}} - kjw.dev</title>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap" rel="stylesheet">

	<!-- Normalize.css by Nicolas Gallagher -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

	<!-- Site CSS -->
	<link rel="stylesheet" type="text/css" href="/css/default.css">

	<!-- All icons licensed from flaticon.com -->
	<link rel="icon" type="image/x-icon" href="/images/icons/cmd.png">

	<script async src="/js/responsive.js"></script>
</head>

<body>
	<div id="background"></div>

	<div id="main-column">
		<header>
			<span id="header-name">Keegan Woodward</span>
		</header>
	
		<nav>
			<ul id="menu">
				<li id="menu-button" onclick="toggleMenu()">Menu ☰</li>
				<a href="/">
					<li><span class="underscore">Home</span></li>
				</a>
				<a href="/blog">
					<li><span class="underscore">Blog</span></li>
				</a>
				<a href="/about">
					<li><span class="underscore">About</span></li>
				</a>
				<a target="_blank" rel="noopener noreferrer" href="/pdf/Keegan Woodward Resume.pdf">
					<li><span class="underscore">Resume</span></li>
				</a>
				<a href="/contact">
					<li><span class="underscore">Contact</span></li>
				</a>
				<a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/keegan-woodward/">
					<li><span class="underscore">LinkedIn</span></li>
				</a>
				<a target="_blank" rel="noopener noreferrer" href="https://www.github.com/keeganjw">
					<li><span class="underscore">GitHub</span></li>
				</a>
				<a href="/login">
					<li><span class="underscore">Login</span></li>
				</a>
			</ul>
		</nav>
	
		<main>
			{{{body}}}
		</main>
	
		<footer>
			© 2022 by Keegan Woodward
		</footer>
	</div>
</body>
</html>