<div style="margin-bottom: 4rem;">
	<h1>Professional Projects</h1>
	
	My professional projects go here.
</div>

<div>
	<h1>Personal Projects</h1>
	
	<div>Blog</div>
	<div>Passport Test App</div>
</div>