form input[type=text] {
	padding: 4px;
	width: 66%;
}

form label {
	display: block;
}

textarea {
	font-family: monospace;
	padding: 8px;
}

/***************
	Classes    *
****************/

.image-box {
	box-sizing: border-box;
	padding: 1rem 1rem 1rem 0rem;
	width: 33%;
}

#modal {
	align-items: center;
	background: rgba(0, 0, 0, .5);
	box-sizing: border-box;
	display: none;
	height: 100vh;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
}

#modal-container {
	background-color: #fff;
	border-radius: var(--radius);
	box-sizing: border-box;
	color: var(--dark-text);
	padding: 2rem;
	width: 26rem;
}

/***********
	IDs    *
************/

#add-user input[type=text],
#add-user input[type=email],
#add-user input[type=password] {
	margin-bottom: .75rem;
	padding: 4px;
	width: 20rem;
}