/*************************
	Style for kjw.dev    *
**************************/

:root {
	--dark-text: #222;
	--light-bg: #F0F6FE;
	--light-hover: #D8E9FF;
	--radius: .3rem;
}

::selection {
	color: #FFF;
	background-color: #4773C0;
}

a, a:hover, a:visited {
	color: #BAD3FC;
}

a:active {
	color: #C9DCFD;
}

body {
	background: rgba(6, 42, 85, 1);
	color: #FFF;
	font-family: 'Nunito', sans-serif;
	font-size: 1.2rem;
	z-index: -2;
}

button {
	padding: 8px;
}

footer {
	margin: 4rem 0rem 2rem 0rem;
}

form div {
	padding-bottom: 1rem;
}

form textarea {
	resize: vertical;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
}

hr {
	background-color: white;
	border: 0px;
	height: 1px;
}

img {
	border-radius: var(--radius);
	width: 100%;
}

label {
	display: block;
}

nav a, nav a:active, nav a:hover, nav a:visited {
	color: var(--dark-text);
	text-decoration: none;
}

nav {
	margin: 1.5rem 0rem 2.5rem 0rem;
}
	nav ul {
		background-color: var(--light-bg);
		border-radius: var(--radius);
		color: var(--dark-text);
		display: flex;
		list-style: none;
		padding: 0rem 1rem;
	}
		nav ul li {
			/* border-radius: var(--radius); */
			padding: 1rem 1rem;
		}
			nav ul li:hover {
				background-color: var(--light-hover);
			}

p {
	line-height: 1.6rem;
}

textarea {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	height: 50rem;
	padding: 1rem;
}


/***************
	Classes    *
****************/

.blog-list-item {
	display: flex;
	margin-bottom: 4rem;
}

.flexbox {
	display: flex;
}

.lightbox {
	background-color: var(--light-bg);
	border-radius: var(--radius);
	color: var(--dark-text);
	padding: 1.5rem 1rem;
}

	.lightbox img {
		border-radius: 0px;
		height: 80px;
		width: auto;
	}

.post-description {
	margin: .5rem 0rem 1rem 0rem;
}

.post-title {
	font-size: 1.8rem;
	font-weight: bold;
}

.radius {
	border-radius: var(--radius);
}

.subbox {
	text-align: center;
	width: 33%;
}

.thumbnail {
	border-radius: var(--radius);
	height: auto;
	object-fit: cover;
	width: 180px;
	
}

.thumbnail-box {
	margin: .5rem 2rem 0rem 0rem;
	width: 180px;
}

.underscore {
	display: inline-block;
	padding-bottom: .1rem;
	position: relative;
}

.underscore:hover {
	color: var(--dark-text);
}

.underscore:after {
	background-color: var(--dark-text);
	content: '';
	position: absolute;
	height: 2px;
	bottom: 0;
	left: 0;
	opacity: .9;
	transform: scaleX(0);
	transform-origin: bottom left;
	transition: transform 0.3s ease-out;
	width: 100%;
}

.underscore:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}


/***********
	IDs    *
************/

#background {
	background: rgb(2, 0, 32);
	background: linear-gradient(180deg, rgba(2, 0, 32, 1) 0%, rgba(11, 11, 79, 1) 50%, rgba(6, 42, 85, 1) 100%);
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	height: 90vh;
	width: 100%;
	z-index: -1;
}

#button-row {
	margin: 2rem 0rem 1rem 0rem;
}

#header-name {
	font-size: 2.8rem;
	font-weight: 900;
}

#login input {
	padding: 4px;
	width: 22rem;
}

#logo-image {
	position: relative;
	height: 2rem;
	top: -3px;
}

#main-column {
	background: rgba(0, 0, 0, 0.0);
	box-sizing: border-box;
	margin: 2rem auto;
	padding: 0rem 1rem;
	max-width: 920px;
	z-index: 0;
}

#menu-button {
	display: none;
}


/*********************
	Media Queries    *
**********************/

@media screen and (max-width: 800px) {

	/* Elements */
	nav {
		margin: 1.5rem 2rem 2.5rem 2rem;
	}

	nav ul {
		display: block;
	}

	nav ul li {
		display: none;
		text-align: center;
	}

	/* Classes */
	.blog-list-item {
		display: block;
	}

	.flexbox {
		display: block;
	}

	.lightbox {
		background-color: inherit;
		border-radius: inherit;
		padding: inherit;
	}

	.subbox {
		background-color: var(--light-bg);
		border-radius: var(--radius);
		box-sizing: border-box;
		margin-bottom: 1rem;
		padding: 1.5rem 1rem;
		width: 100%;
	}

	.thumbnail {
		height: auto;
		width: 100%;
	}

	.thumbnail-box {
		margin: 0rem 0rem 2rem 0rem;
		width: 100%;
	}

	/* IDs */
	#menu-button {
		display: block;
	}
}