form input[type=text] {
	padding: 4px;
	width: 66%;
}

form label {
	display: block;
}

textarea {
	font-family: monospace;
	padding: 8px;
}

/***************
	Classes    *
****************/

.image-box {
	box-sizing: border-box;
	padding: 1rem 1rem 1rem 0rem;
	width: 33%;
}

/***********
	IDs    *
************/

#add-user input[type=text],
#add-user input[type=email],
#add-user input[type=password] {
	margin-bottom: .75rem;
	padding: 4px;
	width: 20rem;
}