<div>
	<h1>Professional Projects</h1>
	<div class="flexbox">
		<div class="w60">
			<h2>Work Orders</h2>
	
			<p>I completely overhauled the State of Vermont, Military Department's work order management system.
				I updated the site's design, back-end code, and database to better server the needs of the department.
				Updates are continuously deployed as changes occur.</p>
	
			<p><a href="/projects/work-orders">See More</a></p>
		</div>

		<div class="w40">
			<img src="images/work-orders-login.png" width="100%" alt="A screenshot of the work order website login page.">
		</div>
	</div>
</div>

<br><br><br>

<div>
	<h1>Personal Projects</h1>
	
	<div class="flexbox">
		<div class="w60">
			<h2>kjw.dev</h2>
	
			<p>I wanted to make a personal website so I could showcase my work and write about technical topics I'm interested in. So I did!
			This site is the result of that. It was also a great opportunity to continue learning Node.js and the Express framework.</p>
	
			<p><a href="/projects/kjw">See More</a></p>
		</div>

		<div class="w40">
			<img src="images/kjw-home.jpg" width="100%" alt="A screenshot of the home page for this site (kjw.dev).">
		</div>
	</div>

	<br><br>

	<div class="flexbox">
		<div class="w60">
			<h2>Passport Test App</h2>
	
			<p>I created this project to learn how to use passport, specifically the local strategy, to add basic authentication to an
			Express application. I purposely made the project as minimal as possible to focus on learning how passport works.</p>
	
			<p><a href="/projects/passport-app">See More</a></p>
		</div>

		<div class="w40">
			<img src="images/passport-home.jpg" width="100%" alt="A screenshot of the home page for this site (kjw.dev).">
		</div>
	</div>
</div>