<h1>Work Orders</h1>

* Completely redesigned site (show comparisons)
* Added functionality (advanced reporting, admin abilities, ux enhancements)
* Acted on user input and feedback
* Database work
* Overall code reduction even though lots of new features added
* Reduced complexity and repetitive code

In my current position at the Vermont Military Department, I overhauled their website for managing work orders. It was
built by a previous employee and in need of a serious upgrade.

I was able to make the following improvements:

* Worked with stakeholders to add features that sped up their workflow
* Redesigned the site from scratch
* Simplified user experience
* Added searchable, sortable report tables
* Made site components more modular
* Significantly reduced repetive, boilerplate code
* Reduced the size of the codebase by thousands of lines while adding new features
* Added both client and server-side form validation
* Normalized database tables