<h1>Work Orders</h1>

* Completely redesigned site (show comparisons)
* Added functionality (advanced reporting, admin abilities, ux enhancements)
* Acted on user input and feedback
* Database work
* Overall code reduction even though lots of new features added
* Reduced complexity and repetitive code