<h1>Work Orders</h1>

In my current position at the Vermont Military Department, I overhauled their website for managing work orders. It was
built by a previous employee and in need of a serious upgrade.

I was able to make the following improvements:

* Acted on user input and feedback
* Worked with stakeholders to add features that sped up their workflow
* Completely redesigned site (show comparisons)
* Added functionality like advanced reporting, admin abilities, and UX enhancements
* Added searchable, sortable report tables
* Made site components more modular
* Significantly reduced repetive, boilerplate code
* Reduced the size of the codebase by thousands of lines while adding new features
* Added both client and server-side form validation
* Normalized database tables