<h1>Blog</h1>

{{#each posts}}
<div class="blog-list-item">
	<div class="post-title">
		<a href="/blog/{{this.slug}}">{{this.title}}</a>
	</div>

	<div class="post-description">
		{{{this.description}}}
	</div>
	
	<div>
		<i>{{this.dateCreated}}</i>
	</div>
</div>
{{/each}}