<h1>New Post</h1>

<form action="/blog/new" method="post">
	{{> post-form-fields }}

	<div>
		<input type="submit" value="Post">
		<input type="button" value="Save As Draft">
		<input type="button" value="Preview">
	</div>
</form>