<h1>New Post</h1>

<form action="/blog/new" method="post">
	{{> post-form-fields }}

	<div>
		<input type="submit" name="btnPost" value="Post">
		<input type="submit" name="btnDraft" value="Save As Draft">
		<input type="submit" formaction="/blog/preview" value="Preview">
	</div>
</form>